@import "./config/variables";
.chat-main{
  width :calc(100vw - 300px);
  float: left;
  
  .main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;

    &__left-box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__member-list{
          display: flex;
          font-size: 12px;
          color: $sub-text;
          li{
            margin-right: 3px;
            list-style: none;
          }
      }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $skyblue-btn;
      position: absolute;
      right: 40px;
      .right-header__button{
        color:$skyblue-btn;
        text-decoration: none;
      }
    }
  }

  .messages{
    height: calc(100vh - 190px);
    padding: 46px 40px 0;
    background-color: #fafafa;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      &__upper-info{
        display: flex;
        margin-bottom: 10px;
        &__talker{
          color: $sub-info;
          font-weight: bold;
          font-size:16px;
        }
        &__date{
          color: $sub-text;
          margin-left: 10px;
          font-size:12px;
        }
      }
      &__text{
        color: $sub-info;
        font-size: 14px;
        margin-bottom:10px;
      }
    }
  }

  .form {
    height: 90px;
    padding: 20px 50px 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    .input-box{
      position: relative;
      input {
        border: none;
        float: left;
        height: 50px; 
        width: calc(100% - 150px);
      }
      .form__mask__image {
        // float: right;
        color: $sub-info;
        float: left;
        font-size: 1.3rem;
        position: absolute;
        cursor: pointer;
        .fa-image {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
        .hidden{
          display: none;
        }
      }
      .form__submit {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $skyblue-btn;
        color: $side-font;
        // cursor: pointer;
        // float: left;
        // font-size: 16px;
        // height: 50px;
        // margin-left: 15px;
        // padding: 0 30px;
      }
    }
  }
}