@import "./config/variables";
.notification {
    .notice {
      background-color: $skyblue-btn;
      color: $white;
      text-align: center;
    }

    .alert {
      background-color: $alert_orange ;
      color: $white;
      text-align: center;
    }
  }
