.flash-box
  .notice グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name アンパンマン
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            -# %a{href: "/groups/new"}
            =link_to '/groups/new' do
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            -# %a{href: "/users/474/edit"}
            =link_to '/users/474/edit' do
              %i.fa.fa-cog
    .groups
      -# %a{href: "/groups/959/messages"}
      = link_to '/groups/959/messages' do
        .group
          %p.group__group-name soccer
          %p.group__latest-message まだメッセージはありません。
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "958"}
          soccer
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member wwwww
          %li.main-header__left-box__member-list__member dfasfa
      -# %a{href: "/groups/958/edit"}
      = link_to '/groups/958/edit' do
        .main-header__edit-btn Edit
    .messages
      .message{"data-message_id" => "2278"}
        .message__upper-info
          %p.message__upper-info__talker   アイウエオabcdef
          %p.message__upper-info__date  2019/05/30(thr)16:07:24
        %p.message__text ddddddd
        -# %img{src: "/uploads/message/image/2734/%E7%8C%AB.jpg"}/
    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", action: "/groups/958/messages", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "qHL+GjyQD4+RpIZSh13VPKLCG56HghJpwKrlDNvS23T4eyeIlFUTBXcGAHs3AdMrQNgEmX5iqDEppQ8v+RWCeA=="}/
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message[image]", type: "file",style: "display: none;"}/
        %input.submit-btn{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}/